
<div class="row">
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-12">
                <?php $form->prepare() ?>
                <?php echo $this->form()->openTag($form); ?>
                <div class="form-group">
                    <?php echo $this->formLabel($form->get('name')); ?>
                    <?php echo $this->formElement($form->get('name')); ?>
                    <?php echo $this->formElementErrors($form->get('name')); ?>
                </div>
                <div class="form-group">
                    <?php echo $this->formLabel($form->get('birthday')); ?>

                        <?php echo $this->formElement($form->get('birthday')); ?>

                    <?php echo $this->formElementErrors($form->get('birthday')); ?>
                </div>
                <div class="form-group">
                    <?php echo $this->formElement($form->get('submit')); ?>
                </div>
                <?php echo $this->form()->closeTag($form) ?>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Your age</div>
                <div class="panel-body">
                    <?php if($age): ?>
                        <span id="age-field"><?php echo $age ?>
                    <?php else: ?>
                        <span id="age-field">Please fill in the form and press "Submit" to calculate your age</span>
                    <?php endif; ?>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Previous submissions
            </div>
            <?php if(is_array($submissions)):?>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Birth Date</th>
                        <th>Age</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach($submissions as $submission): ?>
                        <tr>
                            <td><?php echo $submission->getName() ?></td>
                            <td><?php echo $submission->getBirthDate() ?></td>
                            <td><?php echo $submission->getAge() ?></td>
                        </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
            <?php else: ?>
                <div class="panel-body">
                    <div class="alert alert-info">
                        No previous submissions found
                    </div>
                </div>
            <?php endif; ?>
        </div>
    </div>
</div>
    <script type="application/javascript">
        $(function () {
            $('#birthday').datetimepicker({
                'locale' : 'en-UK'
            });
        });
    </script>